@import '../globals';

header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid $fg-gray;
  margin-top: 1.5rem;
  padding: 0.5em 0 0.5em;

  nav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    column-gap: 1em;
    row-gap: 0.5em;
    margin: 0 0 0.25em 1em;
    font-size: 1rem;
    text-align: right;

    a {
      text-decoration: none;

      &.active {
        font-weight: bold;
        border-bottom: 2px solid white;
        padding-bottom: 2px;
      }
    }
  }
}

footer {
  padding: 2em 0;
  font-size: 0.9em;
  color: $fg-gray;
}

.donate {
  img {
    height: 1.1em;
    vertical-align: sub;
  }
}

#logo {
  position: relative;
  text-decoration: none;

  h1 {
    font-family: $logo-font;
    font-size: 4em;
    line-height: 0.9;
    margin: 0;
    letter-spacing: 0.01em;

    .searchHeading {
      font-family: $body-font;
      font-weight: 200;
      font-size: 0.95em;
      letter-spacing: normal;
    }
  }

  .unofficial {
    position: absolute;
    background-color: $secondary-yellow;
    color: black;
    text-shadow: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.7em;
    padding: 0.25em 0.5em;
    transform: rotate(-10deg);
    top: -16px;
    left: -15px;
  }
}