@import '../globals';

#logo {
  position: relative;
  text-decoration: none;

  h1 {
    font-family: $logo-font;
    font-size: 4em;
    line-height: 0.75;
    margin: 0;

    .search-heading {
      font-family: $body-font;
      font-weight: 200;
      font-size: 0.9em;
    }
  }

  label {
    background-color: $secondary-yellow;
    color: black;
    text-shadow: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.7em;
    padding: 0.25em 0.5em;
    transform: rotate(-10deg);
    top: -22px;
    left: -15px;
    position: absolute;
  }
}

header {
  display: flex;
  align-items: end;
  justify-content: space-between;
  border-bottom: 1px solid $fg-gray;
  margin-bottom: 1em;
  padding: 1em 0 0.75em;

  nav {
    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

footer {
  padding: 2em 0;
  font-size: 0.9em;
  color: $fg-gray;
}

input[type=search] {
  width: 100%;
  font-family: $body-font,
  sans-serif;
  background-color: $bg-gray;
  color: white;
  border-color: transparent;
  border-style: solid;
  border-width: 2px 0 2px 2px;
  padding: 0.5em 1em;

  &:focus {
    outline: none;
    border-color: $primary-blue;
  }

  &::-webkit-search-cancel-button {
    display: none;
  }
}

button.search {
  background-color: $primary-blue;
  display: flex;
  align-items: center;
}

li.selectable {
  padding: 0.5em 0.75em;
  border-radius: 0.5em;
  
  &:hover:not(.selected) {
    cursor: pointer;
    background-color: rgba(255,255,255, 0.15);
  }
}

li.selected {
  cursor: default;
  background-color: rgba($primary-blue, 0.25);
}

mark {
  background-color: rgba($secondary-yellow, 0.5);
  color: unset;
}