@import '../globals';

.result {
  padding: 0.5em 0.75em;
  border-radius: 0.5em;
  position: relative;
  
  &:hover {
    cursor: pointer;
    // outline: 1px solid $primary-blue;
    background-color: rgba(255,255,255, 0.15);
  }
  
  &.selected {
    cursor: default;
    background-color: rgba($primary-blue, 0.25);
    
    &:hover {
      outline: none;
    }
  }
}