@import '../globals';

.result {
  padding: 0.5em 0.75em;
  border-radius: 0.5em;
  position: relative;
  
  &:hover {
    cursor: pointer;
    background-color: rgba($primary-blue, 0.2);
  }
  
  &.selected {
    cursor: default;
    background-color: rgba($primary-blue, 0.4);
  }
}