@import '../globals';

.episodeInfo {
  h3 {
    margin: 0;
  }

  p {
    margin: 0.5em 0 0.25em;
  }

  .title {
    display: flex;
    align-items: baseline;
    column-gap: 1em;
    row-gap: 0.5em;

    time,
    .episode {
      font-weight: bold;
      text-transform: uppercase;
      color: $fg-gray;
    }

    .number,
    .year {
      font-weight: bold;
      color: white;
    }

    @include tablet {
      flex-wrap: wrap;
    } 
  }

  .playing {
    margin-right: -0.5em; // offset flexbox `gap`
    height: 1.1em;
    align-self: center;
  }
}