@import '../globals';

.episode-info {
  h3 {
    margin: 0;
  }

  p {
    margin: 0.5em 0 0.25em;
  }

  em {
    background-color: rgba($secondary-yellow, 0.5);
    font-style: normal;
  }

  .title {
    display: flex;
    align-items: baseline;
    gap: 1em;

    time,
    .episode {
      font-size: 0.9em;
      font-weight: bold;
      text-transform: uppercase;
      color: $fg-gray;
    }

    .number,
    .year {
      font-weight: bold;
      color: white;
    }
  }
}