@import '../globals';

#media-player {
  position: relative;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid $fg-gray;

  .episode-info {
    margin: 1em 0;

    h3 {
      font-size: 2.5em;
    }

    p {
      line-height: 1.4;
    }

    time,
    .episode {
      font-size: 1em;
    }
  }

  .disclaimer {
    font-size: 0.9em;
    color: $fg-gray;
  }

  .close-player {
    position: absolute;
    right: 0;
    background: none;
    border: none;

    img {
      width: 2em;
    }
  }

  .media-player {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background: $bg-gray;
    border-radius: 0.5em;
  }

  .actions {
    margin-top: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
  }

  button.share {
    display: flex;
    align-items: end;
    gap: 0.5em;
    padding: 0.5em;

    img {
      height: 1.4em;
    }
  }

  audio,
  video {
    width: 100%;
    border-radius: 0.5em 0 0 0.5em;
    align-self: center;
    text-shadow: none;
  }

  audio {
    padding: 0 1em;
  }
}