@import '../globals';

.search {
  display: flex;
  margin: 2em 0;

  p {
    margin-right: 1em;
  }

  input[type=search] {
    width: 100%;
    flex-shrink: 1.1;
    font-size: 1.5em;
    font-family: $body-font,
    sans-serif;
    background-color: $bg-gray;
    color: white;
    border-color: transparent;
    border-style: solid;
    border-width: 2px 0 2px 2px;
    border-radius: 1.5rem 0 0 1.5rem;
    padding: 0.5em 1em;
  
    &:focus {
      outline: none;
      border-color: $primary-blue;
    }

    &::-webkit-search-cancel-button {
      display: none;
    }
  }

  button {
    background-color: $primary-blue;
    display: flex;
    align-items: center;
    padding: 0 1.75em 0 1.5em;
    border-radius: 0 1.5rem 1.5rem 0;

    img {
      width: 2em;
    }
  }
}

.results {
  ol {
    max-height: 50vh;
    overflow-y: scroll;
    list-style: none;
    padding: 0.75em;
    margin: 0.5em 0;
    background-color: $bg-gray;
    border-radius: 0.5em;
  }

  h2 {
    font-size: 1.5em;
    font-weight: 200;
    margin: 1em 0 0.5em;
    text-transform: uppercase;
  }
}