@keyframes loadingSpinner {
  to { transform: rotate(360deg); }
}

.loadingSpinner {
  width: 2em;
  height: 2em;
  border: 0.25em solid white;
  border-right-color: transparent;
  border-radius: 50%;
  animation: loadingSpinner .75s linear infinite;
}