@import './globals';

@keyframes toast {
  0% {
    translate: 0 200%;
    opacity: 0;
  }
  5% {
    translate: 0;
    opacity: 1;
  }
  90% {
    translate: 0;
    opacity: 1;
  }
  100% {
    translate: 0 200%;
    opacity: 0;
  }
}

.toast {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 1em;
  padding-block-end: 5vh;
  border-radius: 0.5em;
  background-color: $bg-gray-opaque;
  z-index: 2;
  padding: 1em;
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
  animation-name: toast;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  @include phone-lg {
    margin: 0;
    border-radius: 0;
    width: 100%;
  }
}