@use 'globals';

.notFound {
  max-width: globals.$article-width;
  text-align: center;
  margin: 0 auto 30vw;
  padding: 1em;

  h1 {
    margin-top: 0;
  }

  .number {
    font-weight: 200;
    font-size: 6em;
  }

  .search {
    font-size: 1.2em;
  }

  .narration {
    font-style: italic;
    line-height: 1.4;
    text-wrap: balance;
  }
}