@import './globals';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@200;400;700&display=swap');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 2em;
  font-family: $body-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

a {
  color: white;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  color: white;
  text-transform: uppercase;
  font-family: $body-font;
  font-weight: bold;
}