@import '../globals';

.search {
  display: flex;
  margin: 2em 0;

  @include narrow {
    flex-wrap: wrap;
  }

  p {
    margin: 0.5em;
    line-height: 1.35;
    font-size: 1.1em;
  }

  .inputWrapper {
    display: flex;
    width: 100%;
    position: relative;
  }

  .placeholders {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    font-size: 1.5em;
    color: $fg-gray;
    height: 100%;
    margin-left: 1.1em;
    display: flex;
    align-items: center;
    left: 0;
    right: 1em;
    overflow: hidden;
    text-shadow: none;

    span {
      display: none;
      white-space: nowrap;
      align-items: center;

      &.fadeIn {
        display: flex;
        animation: fadeIn 0.5s forwards;
      }

      &.fadeInOut {
        display: flex;
        animation: fadeInOut 4s forwards;
      }
    }
  }

  input[type=search] {
    flex-shrink: 1.1;
    font-size: 1.5em;
    border-radius: 2rem 0 0 2rem;
  }

  button {
    padding: 0 1.75em 0 1.5em;
    border-radius: 0 2rem 2rem 0;

    img {
      width: 2em;
      height: auto;
    }
  }
}