@use '../../../globals';

.mediaPlayer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background: globals.$bg-gray;
  border-radius: 0.5em;
  border: 1px solid globals.$bg-gray;

  @include globals.narrow {
    display: block;
  }

  audio,
  video {
    width: 100%;
    border-radius: 0.5em 0 0 0.5em;
    align-self: center;
    text-shadow: none;

    @include globals.narrow {
      border-radius: 0.5em 0.5em 0 0;
    }
  }

  audio {
    padding: 0 1em;
    margin: 1em 0;
  }
}

.mediaActions {
  margin: 1em 0 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1em;
}

button.share {
  display: flex;
  align-items: flex-end;
  gap: 0.25em;
  padding: 0.5em 1.2em 0.65em;
  background-color: globals.$bg-gray;
  border-radius: 2em;

  &:hover {
    background-color: globals.$bg-gray-lighter;
  }

  &.open {
    background-color: globals.$bg-gray-lighter;
  }

  img {
    height: 1.3em;
    width: auto;
  }
}

.disclaimer {
  font-size: 0.9em;
  color: globals.$fg-gray;
}

.resumeToast {
  time {
    font-weight: bold;
  }

  button {
    border-radius: 2em;
    padding: 0.5em 1em;
    background-color: globals.$bg-gray;
    display: flex;
    align-items: center;
    gap: 0.5em;

    &:hover {
      background-color: globals.$bg-gray-lighter;
    }

    img {
      height: 1em;
      width: 1em;
    }
  }
}